%templateone {
  width: 100%;
  position: absolute;
}
.displaynone {
  visibility: hidden;
  @extend %templateone;
  display: flex;
}
.parallax,
.slidecontainer,
.downslidetext,
.transparent {
  position: relative;
}
.slideh1row,
.downslidetext,
.transparent {
  width: 100%;
}
.parallax,
.blob {
  border-radius: 10px;
}
.transparent,
.slideh1row {
  display: flex;
}
.parallax {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.parallax::-webkit-scrollbar {
  display: none;
}
.slideh1 {
  @extend %templateone;
  display: grid;
  background-image: linear-gradient(230deg, rgb(252, 169, 68), rgb(49, 60, 161));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2vw;
}
.slideh1row {
  justify-content: space-around;
}
.slideh2 {
  color: rgb(252, 169, 68);
  text-shadow: 1px 2px rgb(49, 60, 161);
  font-size: 42px;
}
.blob {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.slidecontainer {
  width: auto;
  transform-style: preserve-3d;
}
.downslidetext {
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.8;
  top: 40px;
}
.slidep {
  color: rgb(0, 0, 96);
}
@media (min-width: 1492px) {
  .parallax {
    height: 38vw;
  }
  .transparent {
    top: 4vw;
  }
  .slidecontainer {
    top: 76px;
  }
  .slideh1 {
    bottom: 18vw;
  }
  .slidep {
    font-size: 22px;
  }
}
@media (max-width: 1492px) {
  .parallax {
    height: 32vw;
    bottom: 0px;
  }
  .slidecontainer {
    top: 76px;
  }
  .slideh1 {
    bottom: 13.5vw;
  }
}
@media (max-width: 1024px) {
  .parallax {
    height: 48vw;
  }
  .transparent {
    top: 2vw;
  }
  .slideh1 {
    bottom: 27vw;
  }
  .slideh2 {
    font-size: 3.4vw;
  }
  .slidep {
    font-size: 1.9vw;
  }
  .downslidetext {
    font-size: 1.3vw;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .parallax {
    height: 60vw;
  }
  .transparent {
    top: 0vw;
  }
  .slideh1 {
    bottom: 38vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .slidep {
    font-size: 2vw;
  }
  .downslidetext {
    font-size: 1.7vw;
  }
}
@media only screen and (min-width: 426px) and (max-width: 597px) {
  .parallax {
    height: calc(70vw + (70vw / 596));
    bottom: 24px;
  }
  .transparent {
    top: -2vw;
  }
  .slideh1 {
    bottom: 48vw;
  }
  .slidep {
    font-size: 2.4vw;
  }
  .downslidetext {
    font-size: 1.96vw;
  }
}
@media (max-width: 426px) {
  .parallax {
    height: 360px;
    bottom: 24px;
  }
  .transparent {
    top: -30px;
  }
  .slideh1 {
    bottom: 270px;
  }
  .slideh2 {
    text-shadow: 1px 1.5px rgb(49, 60, 161);
  }
  .slidep {
    font-size: 11px;
  }
  .downslidetext {
    font-size: 1.9vw;
    text-shadow: 0.1px 0.2px black;
  }
}
@media (max-width: 376px) {
  .parallax {
    height: 320px;
  }
  .slideh2 {
    font-size: 4vw;
  }
  .slideh1 {
    bottom: 240px;
  }
  .downslidetext {
    font-size: 2.3vw;
    letter-spacing: 1.4px;
    line-height: 2;
  }
}
@media (max-width: 321px) {
  .transparent {
    top: -36px;
  }
  .slideh1 {
    bottom: 250px;
  }
  .slideh2 {
    font-size: 5vw;
  }
  .downslidetext {
    font-size: 2.3vw;
  }
}
