.parallax {
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
  height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.parallax::-webkit-scrollbar {
  display: none;
}
.slideh1 {
  position: absolute;
  width: 100%;
  top: -20px;
  display: grid;
  background-image: linear-gradient(230deg, rgb(252, 169, 68), rgb(49, 60, 161));
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  font-size: 2vw;
}
.slidecontainer {
  position: relative;
  width: auto;
  transform-style: preserve-3d;
}
.responcive {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transform: translateZ(-15px) scale(2.5);
}
.transparent {
  position: relative;
  display: flex;
  width: 100%;
  bottom: 880px;
  transform: translateZ(-10px) scale(2);
}
.transparentt {
  bottom: 360px;
  width: 100%;
  position: absolute;
  display: flex;
  height: fit-content;
  transform: translateZ(-5px) scale(1.5);
}
@media (max-width: 3840px) {
  .slidecontainer {
    top: 76px;
  }
  .responcive {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }
  .slideh1 {
    position: absolute;
    width: 100%;
    top: -20px;
    display: grid;
    background-image: linear-gradient(230deg, rgb(252, 169, 68), rgb(49, 60, 161));
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    font-size: 2vw;
  }
  .slideh1row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .topslidetext {
    position: relative;
    bottom: calc(43.6vw - 530px);
  }
  .slideh2 {
    color: rgb(252, 169, 68);
    text-shadow: 1px 2px rgb(49, 60, 161);
    font-size: 42px;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 22px;
  }
  .downslidetext {
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.8;
    position: relative;
    bottom: 30px;
    width: 100%;
  }
}
@media (max-width: 1441px) {
  .slidecontainer {
    top: 76px;
  }
  .responcive {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }
  .slideh1 {
    position: absolute;
    width: 100%;
    top: -20px;
    display: grid;
    background-image: linear-gradient(230deg, rgb(252, 169, 68), rgb(49, 60, 161));
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    font-size: 2vw;
  }
  .slideh1row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .topslidetext {
    position: relative;
    bottom: calc(18.6vw - 172px);
  }
  .slideh2 {
    color: rgb(252, 169, 68);
    text-shadow: 1px 2px rgb(49, 60, 161);
    font-size: 42px;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 22px;
  }
  .downslidetext {
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.8;
    position: relative;
    bottom: 30px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .parallax {
    height: 48vw;
  }
  .responcive {
    position: relative;
    top: 12.5vw;
  }
  .transparent {
    width: 100%;
    bottom: 70vw;
  }
  .transparentt {
    bottom: 30vw;
    width: 100%;
  }
  .slideh1 {
    top: -1.8vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    position: relative;
    top: calc(-9.3vw + 70px);
  }
  .slideh2 {
    font-size: 34px;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 20px;
  }
  .downslidetext {
    position: relative;
    font-size: 1.3vw;
    top: 0.6vw;
  }
}
@media (max-width: 768px) {
  .parallax {
    height: 60vw;
  }
  .responcive {
    position: relative;
    top: 0vw;
  }
  .transparent {
    width: 100%;
    bottom: 70vw;
  }
  .transparentt {
    bottom: 35vw;
    width: 100%;
  }
  .slideh1 {
    top: -1vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    position: relative;
    top: -1.1vw;
  }
  .slideh2 {
    font-size: 3.4vw;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 2vw;
  }
  .downslidetext {
    position: relative;
    font-size: 1.7vw;
    top: 2vw;
  }
}
@media (max-width: 597px) {
  .parallax {
    position: relative;
    height: calc(70vw + (70vw / 596));
    top: calc(-1.1vw - 22px);
  }
  .responcive {
    position: relative;
    top: calc(1.8vw - 68px);
  }
  .transparent {
    width: 100%;
    bottom: 70vw;
  }
  .transparentt {
    bottom: 35vw;
    width: 100%;
  }
  .slideh1 {
    top: -1vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    position: relative;
    top: calc(0vw + (60vw / 596));
  }
  .slideh2 {
    font-size: 4vw;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 2.4vw;
  }
  .downslidetext {
    position: relative;
    font-size: 1.96vw;
  }
}
@media (max-width: 426px) {
  .parallax {
    position: relative;
    height: calc(52vw + 80px);
    top: calc(6.4vw - 56px);
  }
  .responcive {
    position: relative;
    top: calc(11vw - 112px);
  }
  .transparent {
    width: 100%;
    bottom: 80vw;
  }
  .transparentt {
    bottom: 35vw;
    width: 100%;
  }
  .slideh1 {
    top: -1vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    position: relative;
    top: -1.4vw;
  }
  .slideh2 {
    font-size: 3.4vw;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 2vw;
  }
  .downslidetext {
    position: relative;
    font-size: 1.9vw;
    text-shadow: 0.1px 0.2px black;
  }
}
@media (max-width: 376px) {
  .parallax {
    position: relative;
    height: calc(-55.8vw + 492px);
    top: calc(-1vw - 24px);
  }
  .responcive {
    position: relative;
    top: calc(89.6vw - 414px);
  }
  .transparent {
    width: 100%;
    bottom: 80vw;
  }
  .transparentt {
    bottom: 40vw;
    width: 100%;
  }
  .slideh1 {
    top: 2vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    position: relative;
    top: calc(60vw - 234px);
  }
  .slideh2 {
    font-size: 3.4vw;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 2vw;
  }
  .downslidetext {
    position: relative;
    font-size: 1.9vw;
    text-shadow: 0.1px 0.2px black;
  }
}
@media (max-width: 321px) {
  .parallax {
    position: relative;
    height: 100vw;
    top: -28px;
  }
  .responcive {
    position: relative;
    top: -43vw;
  }
  .transparent {
    width: 100%;
    bottom: 90vw;
  }
  .transparentt {
    bottom: 45vw;
    width: 100%;
  }
  .slideh1 {
    top: 8vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    position: relative;
    top: -4vw;
  }
  .slideh2 {
    font-size: 3.4vw;
  }
  .slidep {
    color: rgb(0, 0, 96);
    font-size: 2vw;
  }
  .downslidetext {
    position: relative;
    font-size: 7.4px;
    text-shadow: 0.1px 0.2px black;
  }
}
