.parallax {
  position: relative;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
  height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.parallax::-webkit-scrollbar {
  display: none;
}
.slideh1 {
  position: absolute;
  width: 100%;
  display: grid;
  background-image: linear-gradient(230deg, rgb(252, 169, 68), rgb(49, 60, 161));
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  font-size: 2vw;
}
.slideh1row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.slideh2 {
  color: rgb(252, 169, 68);
  text-shadow: 1px 2px rgb(49, 60, 161);
  font-size: 42px;
}
.slidecontainer {
  position: relative;
  width: auto;
  transform-style: preserve-3d;
}
.responcive {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transform: translateZ(-15px) scale(2.5);
}
.transparent {
  position: relative;
  display: flex;
  width: 100%;
  bottom: 880px;
  transform: translateZ(-10px) scale(2);
}
.transparentt {
  bottom: 330px;
  width: 100%;
  position: absolute;
  display: flex;
  height: fit-content;
  transform: translateZ(-5px) scale(1.5);
}
.downslidetext {
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.8;
  position: relative;
  bottom: 30px;
  width: 100%;
}
.topslidetext {
  position: relative;
}
.slidep {
  color: rgb(0, 0, 96);
}
@media (min-width: 1492px) {
  .parallax {
    height: 38vw;
  }
  .slidecontainer {
    top: 76px;
  }
  .slideh1 {
    bottom: 18vw;
  }
  .topslidetext {
    bottom: calc(18vw - 142px);
  }
  .slidep {
    font-size: 22px;
  }
}
@media (max-width: 1492px) {
  .parallax {
    height: 32vw;
    bottom: 4px;
  }
  .slidecontainer {
    top: 76px;
  }
  .responcive {
    top: calc(13.4vw - 70px);
  }
  .slideh1 {
    bottom: 13.8vw;
  }
  .topslidetext {
    bottom: calc(11vw - 63px);
  }
  .slidep {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .slidecontainer {
    top: 76px;
  }
  .parallax {
    height: 56vw;
    bottom: 5px;
  }

  .responcive {
    position: relative;
    top: calc(13.4vw - 70px);
  }
  .transparent {
    bottom: 64vw;
  }
  .transparentt {
    bottom: 24vw;
  }
  .slideh1 {
    bottom: 35vw;
  }
  .topslidetext {
    bottom: calc(30.4vw - 290px);
  }
  .slidep {
    font-size: 22px;
  }
  .downslidetext {
    bottom: calc(12vw - 130px);
  }
}
@media (max-width: 1024px) {
  .parallax {
    height: 48vw;
    bottom: 12px;
  }
  .responcive {
    position: relative;
    top: 12.5vw;
  }
  .transparent {
    bottom: 64vw;
  }
  .transparentt {
    bottom: 27vw;
  }
  .slideh1 {
    bottom: 27vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    top: calc(-9.3vw + 80px);
  }
  .slideh2 {
    font-size: 3.4vw;
  }
  .slidep {
    font-size: 1.9vw;
  }
  .downslidetext {
    font-size: 1.3vw;
    top: calc(0.6vw + 28px);
  }
}
@media (max-width: 768px) {
  .parallax {
    height: 60vw;
  }
  .responcive {
    position: relative;
    top: 0vw;
  }
  .transparent {
    bottom: 70vw;
  }
  .transparentt {
    bottom: 30vw;
  }
  .slideh1 {
    bottom: 38vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    top: -1.1vw;
  }
  .slidep {
    font-size: 2vw;
  }
  .downslidetext {
    font-size: 1.7vw;
    top: 2vw;
  }
}
@media only screen and (min-width: 426px) and (max-width: 597px) {
  .parallax {
    height: calc(70vw + (70vw / 596));
    top: calc(-1.1vw - 22px);
  }
  .responcive {
    position: relative;
    top: calc(1.8vw - 68px);
  }
  .transparent {
    bottom: 70vw;
  }
  .transparentt {
    bottom: 35vw;
  }
  .slideh1 {
    bottom: 46vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    top: calc(-4vw + 42px);
  }
  .slidep {
    font-size: 2.4vw;
  }
  .downslidetext {
    font-size: 1.96vw;
    top: calc(0.1vw + 40px);
  }
}
@media (max-width: 426px) {
  .parallax {
    height: calc(52vw + 80px);
    top: calc(6.4vw - 56px);
  }
  .responcive {
    top: calc(11vw - 112px);
  }
  .transparent {
    bottom: 80vw;
  }
  .transparentt {
    bottom: 38vw;
  }
  .slideh1 {
    bottom: 50vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    top: -1.4vw;
  }
  .slidep {
    font-size: 2vw;
  }
  .downslidetext {
    font-size: 1.9vw;
    text-shadow: 0.1px 0.2px black;
  }
}
@media (max-width: 376px) {
  .parallax {
    height: calc(-55.8vw + 492px);
    top: calc(-1vw - 24px);
  }
  .responcive {
    position: relative;
    top: calc(89.6vw - 414px);
  }
  .transparent {
    bottom: 80vw;
  }
  .transparentt {
    bottom: 40vw;
  }
  .slideh1 {
    bottom: calc(-35vw + 334px);
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    top: calc(133vw - 440px);
  }
  .slidep {
    font-size: 2vw;
  }
  .downslidetext {
    top: calc(120vw - 380px);
    font-size: calc(2vw + 0.8px);
    text-shadow: 0.1px 0.2px black;
    letter-spacing: 1.4px;
    line-height: 2;
  }
}
@media (max-width: 321px) {
  .parallax {
    height: 100vw;
    top: -28px;
  }
  .responcive {
    position: relative;
    top: -43vw;
  }
  .transparent {
    bottom: 90vw;
  }
  .transparentt {
    width: 100%;
  }
  .slideh1 {
    top: 2vw;
  }
  .slideh1row {
    font-size: 2vw;
  }
  .topslidetext {
    top: -4.8vw;
  }

  .slidep {
    font-size: 2vw;
  }
  .downslidetext {
    font-size: 7.4px;
    text-shadow: 0.1px 0.2px black;
  }
}
