%templatelang {
  height: fit-content;
  border: 1px solid rgb(49, 60, 161);
  text-shadow: 1px 1px rgb(49, 60, 161);
  border-radius: 6px;
  font-size: 24px;
  width: 32px;
  padding: 2px;
  cursor: pointer;
}
%templatelang:hover {
  color: white;
  background-color: rgb(49, 60, 161);
  border: 1px solid white;
  transition: 500ms;
}
@mixin align {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin choose_choose {
  display: grid;
  position: absolute;
  top: 76px;
  left: 71px;
}
.menu_check_russia,
.menu_check_spain,
.menu_check_usa,
.menu_check_braz,
.menu-choose-check__flag,
.menu {
  position: relative;
}
.menu-choose,
.none {
  top: 48px;
  z-index: -1;
  position: absolute;
  transition: 1000ms;
}
.lines,
.menu-choose-check {
  border-radius: 10px;
}
.menu-logo__material,
.menu-logo__material_rotated {
  transition: 500ms;
  transform: rotate(90deg);
}

.menu__lang {
  height: 37px;
  margin-right: 0px;
  cursor: pointer;
}
.menu-choose,
.menu {
  display: grid;
}
.none {
  transform: translate(0px, -268px);
}
.menu {
  right: 0px;
  padding-top: 8px;
  grid-template-columns: auto auto;
  background-color: white;
  height: 37px;
}
.menu-choose__list {
  @extend %templatelang;
  margin-bottom: 4px;
  transform: translate(0px, 0px);
  background-color: white;
}
.menu__lang_choose {
  @extend %templatelang;
}
.menu-logo {
  align-items: center;
  justify-content: center;
  height: 37px;
  width: 37px;
  background-color: rgb(49, 60, 161);
  border-radius: 4px;
  display: grid;
  cursor: pointer;
}
.menu-logo__material {
  transform: rotate(45deg);
}
.lines {
  width: 26px;
  height: 2px;
  background-color: white;
  margin: 6px 1px;
}
.menu-choose-check {
  @include choose_choose;
  height: fit-content;
  opacity: 1;
  transition: 1.5s ease;
  overflow: hidden;
}
.menu-choose-check-none {
  @include choose_choose;
  opacity: 0;
  transition: 0.5s ease;
}

.menu-choose-check__flag {
  transform-style: preserve-3d;
  animation: spin 12s linear infinite;
  z-index: -1;
}

.menu_check_spain {
  transform: translateZ(33px);
}
.menu_check_russia {
  transform: rotateY(-270deg) translateX(33px);
  transform-origin: 100% 0;
  bottom: 70px;
}
.menu_check_usa {
  transform: translateZ(-33px) rotateY(180deg);
  bottom: 142px;
}
.menu_check_braz {
  transform: rotateY(270deg) translateX(-33px);
  transform-origin: 0 50%;
  bottom: 214px;
}
@media (min-width: 597px) {
  .menu {
    right: 3px;
    height: 63px;
    width: 130px;
  }

  .menu__lang_choose {
    @include align;
    font-size: 30px;
    width: 62px;
    height: 58px;
  }
  .menu-logo {
    height: 64px;
    width: 62px;
    border-radius: 6px;
    margin-left: 4px;
  }
  .lines {
    width: 36px;
    height: 6px;
    margin: 6px 0px;
  }
  .menu-choose__list {
    @include align;
    font-size: 30px;
    width: 62px;
    height: 62px;
  }
  .menu-choose {
    top: 75px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 597px) {
  .menu-choose {
    top: 47px;
  }
}
@media (min-width: 1024px) {
  .menu-logo:hover {
    transition: 500ms;
    background-color: white;
    .lines {
      transition: 500ms;
      background-color: rgb(49, 60, 161);
    }
  }
}
@media (max-width: 597px) {
  .menu__lang {
    margin-right: 2px;
  }
}
