%templatelang {
  height: fit-content;
  border: 1px solid rgb(49, 60, 161);
  border-radius: 6px;
  font-size: 24px;
  width: 32px;
  text-shadow: 1px 1px rgb(49, 60, 161);
  padding: 2px;
  cursor: pointer;
}
%templatelang:hover {
  color: white;
  background-color: rgb(49, 60, 161);
  border: 1px solid white;
  transition: 500ms;
}
@mixin align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.none {
  top: 48px;
  transform: translate(0px, -268px);
  transition: 1000ms;
  position: absolute;
  z-index: -1;
}

.menu {
  position: relative;
  right: 0px;
  padding-top: 8px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  height: 37px;
}
.menu_lang {
  height: 37px;
  margin-right: 4px;
  cursor: pointer;
}
.menu_choose {
  transition: 1000ms;
  position: absolute;
  display: grid;
  top: 48px;
  z-index: -1;
}
.menu_choose_list {
  @extend %templatelang;
  margin-bottom: 4px;
  transform: translate(0px, 0px);
  background-color: white;
}
.menu_lang_choose {
  @extend %templatelang;
}
.menu_logo {
  align-items: center;
  justify-content: center;
  height: 37px;
  width: 37px;
  background-color: rgb(49, 60, 161);
  border-radius: 4px;
  display: grid;
  cursor: pointer;
}
.menu_material_logo {
  transition: 500ms;
  transform: rotate(45deg);
}
.menu_material_logo_rotated {
  transition: 500ms;
  transform: rotate(90deg);
}
.lines {
  width: 26px;
  height: 2px;
  background-color: white;
  margin: 6px 1px;
  border-radius: 10px;
}
@media (min-width: 597px) {
  .menu {
    position: relative;
    right: 3px;
    display: flex;
    background-color: white;
    height: 63px;
    width: 130px;
  }
  .menu_wrap {
    width: 63px;
    height: 63px;
    margin-right: 4px;
  }
  .menu_lang_choose {
    @include align;
    font-size: 30px;
    width: 62px;
    height: 58px;
  }
  .menu_logo {
    height: 64px;
    width: 62px;
    border-radius: 6px;
    margin-left: 4px;
  }
  .lines {
    width: 36px;
    height: 6px;
    margin: 6px 0px;
  }
  .menu_choose_list {
    @include align;
    font-size: 30px;
    width: 62px;
    height: 62px;
  }
  .menu_choose {
    top: 76px;
  }
}
@media (min-width: 1024px) {
  .menu_logo:hover {
    transition: 500ms;
    background-color: white;
    .lines {
      transition: 500ms;
      background-color: rgb(49, 60, 161);
    }
  }
}
