.header {
  position: fixed;
  display: flex;
  height: fit-content;
  width: 86%;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 2px;
}
@media (min-width: 597px) {
  .header {
    padding-bottom: 4px;
  }
}
