.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: clamp(14px, 4vw, 26px);
  height: clamp(50px, 10vw, 100px);
}
.footer__title {
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
